bankVaultsImage: banzaicloud/bank-vaults:1.10.0

existingTlsSecretName: ""

image: vault:1.6.1

ingress:
  enabled: true
  annotations: {}
  spec:
    rules:
      - host: vault.does.not.exist
        http:
          paths:
          - backend:
              serviceName: vault
              servicePort: 8200
            path: /

istio:
  enabled: false

size: 1

auth:
  namespaces:
  - secret-infra

pvc:
  storageClassName:
